body {
    margin: 0;
    padding: 0;
    background-image: url('./assets/shonen\ sprint.png'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    font-family: Arial, sans-serif;

}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.menu button {
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #ff5733;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu button:hover {
    background-color: #c70039;
}